<div class="d-flex justify-content-center align-items-center mt-5 ">
    <div class="card align-items-center bg-body-tertiary">
    
    
        <img style="width: 100px;" [src]="contact.photo"
            alt="">
    
        <div class="card-body">
    
            <h5 class="Card-title"> Contact Name</h5>
    
            <p>ID: {{contact.id}}</p>
            <p>Mobile:{{contact.mobile}}</p>
            <p>Email:{{contact.email}}</p>
            <p>Company: {{contact.company}}
            </p>
            <p>Title: {{contact.title}}</p>
            <p>Group: {{group}}</p>
        </div>
    
    
    </div>
</div>




