<div class="container-fluid">

    <div class="row">

        <div class="col">

            <h1 style="text-align: left;">
                All Contacts Page
                <a class="btn btn-success ms-5" routerLink="add-contact">

                    <i class="fa-solid fa-user"></i>Add New
                </a>
            </h1>

            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minima fugit possimus voluptatibus
                repellat est rerum laboriosam distinctio obcaecati officiis vel animi voluptas consequuntur, adipisci
                mollitia saepe, corporis quibusdam! Quidem!</p>


            <div class="row mt-5">

                <div  class="col-lg-2 fw-bolder"> Search Here</div>

                <div class="col-lg-6">

                    <input [(ngModel)]="searchKey" placeholder="Type Contact Name Here" type="text" class="form-control me-auto">
                </div>
            </div>

        </div>
    </div>

</div>


<div *ngIf=" !isLoading && allContacts.length==0" class="text-center mt-5" >


    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>


</div>

<div  *ngIf="(allContacts | filter : searchKey : 'name').length==0 && !isLoading">


    <h3 class="text-center text-danger">No Result Found</h3>
</div>


<div *ngIf="errorMsg" class="alert alert-danger m-5" role="alert">


    {{errorMsg}}


</div>


<!-- card design -->

<div class="container mt-5">
    <div *ngIf=" !isLoading && allContacts.length>0" class="row">

        <div class="col-lg-6 mb-3" *ngFor="let contact of allContacts | filter : searchKey : 'name' ">

            <div class="card">

                <div class="card-body">
                    <div class="row align-items-center">

                        <div class="col-sm-3"> <img width="80px"[src]="contact.photo" alt=""></div>

                        <div class="col-sm-8">

                            <ul class="list-group">

                                <li class="list-group-item">Name : <span class="fw-bold">{{contact.name}}</span></li>
                                <li class="list-group-item"> Mobile :  <span class="fw-bold">{{contact.mobile}}</span></li>
                                <li class="list-group-item"> Email :  <span class="fw-bold">{{contact.email}}</span></li>

                            </ul>
                        </div>

                        <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">

                            <a class="btn btn-warning text-light" routerLink="view-contact/{{contact.id}}"> <i class="fa-solid fa-eye"></i></a>
                            <a class="btn btn-success text-light" routerLink="edit-contact/{{contact.id}}"> <i class="fa-solid fa-pen-to-square"></i></a>
                             <button (click)="deleteContact(contact.id)"  class="btn btn-danger text-light" > <i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



